name: ci

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build_and_test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"

      - name: Restore
        run: dotnet restore Tests/Tests.csproj

      - name: Build
        run: dotnet build Tests/Tests.csproj --no-restore -c Release

      - name: Test
        run: dotnet test Tests/Tests.csproj --no-build -c Release


